

<div class="dash_module">
    <figure>
        <figcaption>Spending now vs this time last month</figcaption>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="bar-chart" width="90%" height="150" aria-labelledby="title" role="img">
            <title id="title">A bart chart showing information</title>
            <g class="bar-last">
                <rect width="<%=@this_time_last_month_percentage_spent%>%" height="19"></rect>
                <text x="<%=@this_time_last_month_percentage_spent + 1 %>%" y="9.5" dy=".35em">Last month</text>
            </g>
            <g class="bar-this">
                <rect width="<%=@this_month_percentage_spent%>%" height="19" y="20"></rect>
                <text x="<%=@this_month_percentage_spent + 1 %>%" y="28" dy=".35em">This month</text>
            </g>
            <g class="bar-scale">
                <rect width="100%" height="4" y="40"></rect>
            </g>
        </svg>
    </figure> 
</div>



<div class="dash_module">
    <figure>
        
        <svg viewBox="0 0 100 100" preserveAspectRatio="none" class="chart">
        
        <polyline
            fill="none"
            stroke="#0074d9"
            vector-effect="non-scaling-stroke"
            stroke-width="2"
            points="
            <%@line_graph_coords.each do |coord_pair|%>
            <%=coord_pair[0]%>,<%=coord_pair[1] %>
            <%end%>
                "
        />
        
        </svg>
    </figure> 
</div>
