<h2>Your profile</h2>

Name: <%=@user.first_name()%> <%=@user.last_name()%> <br>
Monthly Income: <%=@user.monthly_income()%> <br>
Savings goal: <%=@user.savings_goal()%> <br>
Email: <%=@user.email()%> <br>


<h2>Edit your merchants</h2>

<% @merchants.each do |merchant|  %>

    <form method="POST" action="/merchants/<%=merchant.id()%>/edit">
        <input type="text" value = "<%=merchant.name()%>" name="merchant_name" id="merchant_name"/><input type="submit" value="submit change"/>
    <form><br>

<% end %>

<h2>Edit your categories </h2>

<% @categories.each do |category|  %>

    <form method="POST" action="/categories/<%=category.id()%>/edit">
        <input type="text" value = "<%=category.name()%>" name="category_name" id="category_name"/><input type="submit" value="submit change"/>
    <form><br>

<% end %>



