
<div class="transactions-wrapper">

    <span class="transaction-header">All transactions</span>

    <% @transactions.each do |date, transactions| %>
        <div class='transaction_date'><%=date%></div>

        <%transactions.each do |transaction|%>
            <div class='transaction-row'>
                <div class="transactions-col-1"><%=transaction.merchant.name()%></div>
                <div class="transactions-col-3">£<%=transaction.amount_pretty()%></div>
                <div class="transactions-col-2" style="background: <%=transaction.category.css_colour_1()%>">
                    <img class="transaction-list-icon" src="/<%=transaction.category.icon()%>"/>
                </div> 
            </div>
        <%end %>

    <%end %>

</div>